#set($menu = 7)
#parse("/include/global_header.vm")
<div class="page-title">
<div class="left">
编辑外部权限 
</div>
</div>

<div class="page-main">
   <form id="queryform" action="/user/updateUser.do" method="post">
    <div class="user-edit">
        <table border="0" cellspacing="0" cellpadding="0" align="center">
            <tr>
               <p><label for="account">通行证</label>
		      		<input name="userName" id="userName" type="text" value="$!{data.account}" readonly/>
		       </p> 
            </tr>
            <tr>
               <p><label for="parterName">合作方名称</label>
		      		<input name="parterName" id="parterName" type="text" value="$!{data.parterName}"/>
		       </p> 
            </tr>
            <tr>
            <p><input class="orange-btn" type="submit" value="保存" />
	             <a class="user-edit-btn" href="/user/getUserAuthList.do" title="取消">取消</a></p>
            </tr>
        </table>
    </div>
   </form>
</div>
#parse("common/page.vm")
#set($url="getChannelInformationList.do?channelName=$!channelName&settlementPattern=$!settlementPattern&source=$!source")
#pager($pageData.pageInfo.pageNo,$pageData.pageInfo.pageCount,"$url",true)
#parse("/include/global_footer.vm")
