#set($menu = 3)
#parse("/include/global_header.vm")
<div class="page-title">
    <div class="left">
      <form id="queryform" action="/channelStastic/listNextDayLeftByDate.do" method="post" name="queryform">
		   <table>
			   	日期：<input type="text" class="form-control" value="$!pageDate" name="pageDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" size="20">
					<button type="button" class="btn btn-primary" onclick="javascript:queryData()">查询</button>
		   </table>
	  </form>
    </div>
</div>
<div class="page-main">
    <div class="list-table">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th>日期</th>
                <th>来源</th>
                <th>注册用户总数</th>
                <th>次日留存总数</th>
            </tr>
            #foreach($item in $pageData.dataList)
                <tr #if($velocityCount % 2 == 0)class="active"#end>
                    <td>$!{viewHelper.getDate($item.statisticDate, "yyyy/MM/dd")}</td>
                    <td>
                        #if($!{item.source}=="External")
                                                                                                                   外部渠道
                        #elseif($!{item.source}=="Inner")
                                                                                                                    内部渠道   
                        #else 
                                                                                                                       无渠道
                        #end
                    </td>
                    <td>$!{item.registerSumNumber}</td>
                    <td>$!{item.nextDayLeft}</td>
                </tr>
            #end
        </table>
    </div>
</div>

#parse("common/page.vm")
#set($url="listNextDayLeftByDate.do?pageDate=$!pageDate")
#pager($pageData.pageInfo.pageNo,$pageData.pageInfo.pageCount,"$url",true)

<script type="text/javascript">
    function queryData(){
		document.queryform.submit();
	};
</script>
#parse("/include/global_footer.vm")
