#set($menu = 6)
#parse("/include/global_header.vm")
<div class="page-title">
<div class="left">
编辑渠道商信息
</div>
</div>
<div class="page-main">
    <form id="queryform" action="/channelStastic/updateChannel.do" method="post">
		   <div class="user-edit">
		   <table width="50%" border="0" cellspacing="0" cellpadding="0">
		      <tr>
		        <td>
		      		<p><label for="channelName">渠道名称</label>
		      		<input name="channelName" id="channelName" type="text" value="$!{channel.channelName}" readonly/>
		      		</p>
	      		</td>
	      	  </tr>
	      	  <tr>
		        <td>
	            <p>
	            <label for="parterName">合作方名称</label>
	            <input name="parterName" id="parterName" type="text" value="$!{channel.parterName}"/>
	            </p>
	          </td>
	      	  </tr>
	      	  <tr>
		        <td>
	            <p>
	            <label for="settlementPattern">渠道结算模式</label>
	            <select id="content" name="settlementPattern" >
				   	    <option selected = "selected" value="" #if($!channel.settlementPattern =="")selected="selected"#end>不限</option>
						<option value="CPA" #if($!channel.settlementPattern =="CPA")selected="selected"#end>CPA</option>
						<option value="CPT" #if($!channel.settlementPattern =="CPT")selected="selected"#end>CPT</option>
						<option value="CPS" #if($!channel.settlementPattern =="CPS")selected="selected"#end>CPS</option>
						<option value="CPM" #if($!channel.settlementPattern =="CPM")selected="selected"#end>CPM</option>
				</select>
	            </p>
	            </td>
	      	  </tr>
	           <tr>
		        <td>
	               <label>结算指标</label>
	               <input text-align:left type="checkbox" name="settlementIndicator" class="js-gender"  value="注册数" #if($!channel.settlementIndicator) #if($!channel.registerNum=="注册数") checked="checked"#end #else #end/> 注册数</label>               
	               <input text-align:left type="checkbox" name="settlementIndicator" class="js-gender" #if($!channel.chargeNum=="充值金额") checked="checked"#end value="充值金额" /> 充值金额</label>
	            </td>
	            <td>
	            </td>
	      	  </tr>
	            <tr>
		        <td>
	            <p>
	            <label for="onlineDate">上线时间</label>
	            <input name="onlineDate" id="onlineDate" type="text" #if($!channel.onlineDate) value="$!{viewHelper.getDate($channel.onlineDate, "yyyy/MM/dd")}"#end onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
	            </p>
	            </td>
	      	  </tr>
	            <tr>
		        <td>
	            <p>
	            <label for="offlineDate">下线时间</label>
	            <input name="offlineDate" id="offlineDate" type="text" #if($!channel.offlineDate) value="$!{viewHelper.getDate($channel.offlineDate, "yyyy/MM/dd")}"#end onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
	            </p>
	            </td>
	      	  </tr>
	            <tr>
		        <td>
				<p>
	            <label for="discount">折扣率</label>
	            <input name="discount" id="discount" type="text" value="$!{channel.discount}"/>
	            </p>
	            </td>
	      	  </tr>
	            <tr>
		        <td>
	            <p>
	            <label for="artificialRating">人工评级</label>
	            <select id="content" name="artificialRating" >
				   	    <option selected = "selected" value="" #if($!channel.artificialRating =="")selected="selected"#end>0</option>
						<option value="1" #if($!channel.artificialRating =="1")selected="selected"#end>1</option>
						<option value="2" #if($!channel.artificialRating =="2")selected="selected"#end>2</option>
						<option value="3" #if($!channel.artificialRating =="3")selected="selected"#end>3</option>
						<option value="4" #if($!channel.artificialRating =="4")selected="selected"#end>4</option>
						<option value="5" #if($!channel.artificialRating =="5")selected="selected"#end>5</option>
				</select>星
	            </p>
	            </td>
	      	  </tr>
	            <tr>
		        <td>
	             <input class="id" name="channelId" id="channelId" type="hidden" value="$!{channel.id}" />
	            <p><input class="orange-btn" type="submit" value="保存" />
	             <a class="user-edit-btn" href="/channelStastic/getChannelInformationList.do" title="取消">取消</a></p>
	             </td>
	      	  </tr>
         </table>
      	</div>
	  </form>
</div>
#parse("/include/global_footer.vm")