#set($menu = 5)
#parse("/include/global_header.vm")
<div class="page-title">
    <div class="left">
      <form id="queryform" action="/channelStastic/getChannelCooperationSettlementList.do" method="post" name="queryform">
		   <table>
		                            渠道名称：<input type="text" class="form-control" value="$!channelName" name="channelName" size="20">
			   	结算方式：
			   	    <select id="content" name="settlementPattern" >
			   	    <option selected = "selected" value="" #if($!settlementPattern =="")selected="selected"#end>不限</option>
					<option value="CPA" #if($!settlementPattern =="CPA")selected="selected"#end>CPA</option>
					<option value="CPT" #if($!settlementPattern =="CPT")selected="selected"#end>CPT</option>
					<option value="CPS" #if($!settlementPattern =="CPS")selected="selected"#end>CPS</option>
					<option value="CPM" #if($!settlementPattern =="CPM")selected="selected"#end>CPM</option>
					</select>
			   	日期：<input type="text" class="form-control" value="$!pageStartDate" name="pageStartDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" size="20">
			   	至：<input type="text" class="form-control" value="$!pageEndDate" name="pageEndDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" size="20">
				   <button type="button" class="btn btn-primary" onclick="javascript:queryData()">查询</button>
		   </table>
	  </form>
    </div>
</div>
<div class="page-main">
    <div class="list-table">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th>日期</th>
                <th>渠道名称</th>
                <th>合作方名称</th>
                <th>结算模式</th>
                <th>结算指标</th>
                <th>指标数量</th>
                <th>次日留存</th>
            </tr>
            #foreach($item in $pageData.dataList)
                <tr #if($velocityCount % 2 == 0)class="active"#end>
                    <td>$!{viewHelper.getDate($item.statisticDate, "yyyy/MM/dd")}</td>
                    <td>$!{item.channelName}</td>
                    <td>$!{item.parterName}</td>
                    <td>$!{item.settlementPattern}</td>
                    <td>$!{item.settlementIndicator}</td>
                    <td>$!{item.indicatorData}</td>
                    <td>$!{item.nextDayLeft}</td>
                </tr>
            #end
        </table>
    </div>
</div>
#parse("common/page.vm")
#set($url="getChannelCooperationSettlementList.do?channelName=$!channelName&settlementPattern=$!settlementPattern&pageStartDate=$!pageStartDate&pageEndDate=$!pageEndDate")
#pager($pageData.pageInfo.pageNo,$pageData.pageInfo.pageCount,"$url",true)

<script type="text/javascript">
    function queryData(){
		document.queryform.submit();
	};
</script>
#parse("/include/global_footer.vm")
