<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.10.0.custom.css">
<link rel="stylesheet" type="text/css" href="/css/admin.css" />