<script type="text/javascript" src="/js/jquery/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery/jQuery.validate.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-timepicker-addon.js"></script>