<div class="conL">
	<ul class="nav">
		<li #if($pageName=="home")class="active"#end><a href="/">首页</a></li>
		<a href="#operMeun" class="nav-header collapsed" data-toggle="collapse">运营管理</a>
		<div id="operMeun" class='nav nav-list collapse 
		     #if($pageName=="anchor" || $pageName=="family" || $pageName=="userManager" || $pageName=="monitor"|| $pageName=="bbsManager")in#end '>
		#if($authHelper.isPermitted("oper:anchor:view"))
		<li #if($pageName=="anchor")class="active"#end><a href="/anchor/listApply.do">主播管理</a></li>
		#end
		#if($authHelper.isPermitted("oper:family:view"))
		<li #if($pageName=="family")class="active"#end><a href="/family/familyApplys">家族管理</a></li>
		#end
		#if($authHelper.isPermitted("oper:user:view"))
		<li #if($pageName=="userManager")class="active"#end><a href="/userManager/userList">用户管理</a></li>
		#end
		#if($authHelper.isPermitted("oper:monitor:live"))
		<li #if($pageName=="monitor")class="active"#end><a href="/monitor/listLive.do">监控数据</a></li>
		#end
		#if($authHelper.isPermitted("oper:bbs:view"))
		<li #if($pageName=="bbsManager")class="active"#end><a href="/bbs/bbsBlackList">论坛管理</a></li>
		#end
		</div>
		
		<a href="#contentMeun" class="nav-header collapsed" data-toggle="collapse">内容管理</a>
		<div id="contentMeun" class='nav nav-list collapse 
		     #if($pageName=="imageWall" || $pageName=="prom" || $pageName=="homeAnchorRecommand" || $pageName=="newcomer" || $pageName=="boboIndexRecommend" || $pageName=="anchorRecommendArea")in#end'>
		#if($authHelper.isPermitted("content:imageWall:view"))
		<li #if($pageName=="imageWall")class="active"#end><a href="/content/imageWall">图片墙</a></li>
		#end
		#if($authHelper.isPermitted("content:prom:view"))
		<li #if($pageName=="prom")class="active"#end><a href="/content/anchorRecommand">主播推广</a></li>
		#end
		#if($authHelper.isPermitted("content:recommand:view"))
		<li #if($pageName=="homeAnchorRecommand")class="active"#end><a href="/content/homeAnchorForceRecommandList">主播推荐</a></li>
		#end
		#if($authHelper.isPermitted("content:newcomer:view"))
		<li #if($pageName=="newcomer")class="active"#end><a href="/content/newcomer">新人推荐</a></li>
		#end
		#if($authHelper.isPermitted("content:boboIndex:view"))
		<li #if($pageName=="boboIndexRecommend")class="active"#end><a href="/boboIndex/getExpressInfoList.do">首页推荐</a></li>
		#end
		#if($authHelper.isPermitted("content:recommendTw:view"))
		<li #if($pageName=="anchorRecommendArea")class="active"#end><a href="/content/anchorRecommendTwList.do">专区推荐</a></li>
		#end
		</div>
		
		<a href="#activityMeun" class="nav-header collapsed" data-toggle="collapse">活动管理</a>
		<div id="activityMeun" class='nav nav-list collapse
		     #if($pageName=="activity" || $pageName=="starAnchorActivity" || $pageName=="periodGiftStar" || $pageName=="prize" || $pageName=="anchorMVList")in#end '>
		#if($authHelper.isPermitted("activity:config:view"))
		<li #if($pageName=="activity")class="active"#end><a href="/activity/getActivityList.do">活动列表</a></li>
		#end
		<!--
		#if($authHelper.isPermitted("activity:vote:view"))
		<li #if($pageName=="starAnchorActivity")class="active"#end><a href="/activity/starAnchorActivity.do">星主播活动</a></li>
		#end
		-->
		#if($authHelper.isPermitted("activity:gift:view"))
		<li #if($pageName=="periodGiftStar")class="active"#end><a href="/activity/periodGiftStarConfig.do">礼物周星</a></li>
		#end
		#if($authHelper.isPermitted("activity:reward:view"))
		<li #if($pageName=='prize')class="active"#end ><a href="/activity/badge" >活动奖品</a></li>
		#end
		#if($authHelper.isPermitted("activity:anchorMV:view"))
		<li #if($pageName=='anchorMVList')class="active"#end><a href="/anchorMV/getAnchorMVList">专属MV定制</a></li>
		#end
		</div>
		
		<a href="#financialMeun" class="nav-header collapsed" data-toggle="collapse">财务管理</a>
		<div id="financialMeun" class='nav nav-list collapse
				 #if($pageName=="preview" || $pageName=="finance" || $pageName=="neteaseIncomeNopay" || $pageName=="balance" || $pageName=="familyIncome" || $pageName=="anchorIncome")in#end '>
		#if($authHelper.isPermitted("finance:preview:view"))
		<li #if($pageName=="preview")class="active"#end><a href="/bj/finance/preview">总览</a></li>
		#end
		#if($authHelper.isPermitted("finance:finance:view"))
		<li #if($pageName=="finance")class="active"#end><a href="/bj/finance/finStatis/summarize.do">财务数据</a></li>
		#end
		#if($authHelper.isPermitted("finance:neteaseIncomeNopay:view"))
		<li #if($pageName=="neteaseIncomeNopay")class="active"#end><a href="/bj/finance/neteaseIncomeNopay/manage">留存波币管理</a></li>
		#end
		#if($authHelper.isPermitted("finance:balance:view"))
		<li #if($pageName=="balance")class="active"#end><a href="/bj/finance/accountState/pingTai.do">财务对账</a></li>
		#end
		#if($authHelper.isPermitted("finance:income:view"))
		<li #if($pageName=="familyIncome")class="active"#end><a href="/bj/finance/income/familyIncome">家族收入管理</a></li>
		#end
		#if($authHelper.isPermitted("finance:income:view"))
		<li #if($pageName=="anchorIncome")class="active"#end><a href="/bj/finance/income/anchorIncome">主播收入管理</a></li>
		#end
		</div>
		
		<a href="#mobileMeun" class="nav-header collapsed" data-toggle="collapse">移动管理</a>
		<div id="mobileMeun" class='nav nav-list collapse #if($pageName=="banner" ||$pageName=="broadcast" ||$pageName=="appActivity"||$pageName=="appChannel"||$pageName=="entWhite"||$pageName=="chatGroup")in#end '>
		#if($authHelper.isPermitted("mobile:banner:view"))
			<li #if($pageName=="banner") class="active" #end><a href="/mobile/getBannerList.do">Banner管理</a><li>
			<li #if($pageName=="boradcast") class="active" #end><a href="/mobile/broadcast/list">广播管理</a><li>
			<li #if($pageName=="appActivity") class="active" #end><a href="/activity/getAppActivityList">活动管理</a><li>
			<li #if($pageName=="appChannel") class="active" #end><a href="/activity/getAppChannelList">渠道管理</a><li>
			<li #if($pageName=="chatGroup") class="active" #end><a href="/mobile/chat/groupList">群组管理</a><li>
		#end
		#if($authHelper.isPermitted("mobile:entWhite:view"))
			<li #if($pageName=="entWhite") class="active" #end><a href="/mobile/entWhite/entWhiteList">企业版白名单</a><li>
		#end
		</div>
		
		<a href="#factionMeun" class="nav-header collapsed" data-toggle="collapse">帮派管理</a>
		<div id="factionMeun" class='nav nav-list collapse #if($pageName=="factionTask")in#end '>
		#if($authHelper.isPermitted("faction:task:view"))
		<li #if($pageName=="factionTask")class="active"#end><a href="/faction/getTaskConfigList.do">任务配置管理</a></li>
		#end
		</div>
		
		<a href="#messageMeun" class="nav-header collapsed" data-toggle="collapse">消息管理</a>
		<div id="messageMeun" class='nav nav-list collapse #if($pageName=="sysBroadcast" || $pageName=="directMessage")in#end '>
		#if($authHelper.isPermitted("message:broadcast:view"))
			<li #if($pageName=="sysBroadcast") class="active" #end><a href="/message/systemBroadcast.do">系统广播管理</a><li>
		#end
		#if($authHelper.isPermitted("message:directMessage:view"))
			<li #if($pageName=="directMessage") class="active" #end><a href="/message/listDirectMessageSendLog.do">私信管理</a><li>
		#end
		</div>
		
		<a href="#customerMeun" class="nav-header collapsed" data-toggle="collapse">客服管理</a>
		<div id="customerMeun" class='nav nav-list collapse  #if($pageName=="customerProblem" || $pageName=="userfeedbackappProblem" || $pageName=="flowerDeduction" || $pageName=="chatRoomReport")in#end '>
		#if($authHelper.isPermitted("customer:problem:view"))
			<li #if($pageName=="customerProblem") class="active" #end><a href="/customer/customerProblemList.do">用户问题列表</a><li>
		#end
		#if($authHelper.isPermitted("userfeedbackapp:problem:view"))
			<li #if($pageName=="userfeedbackappProblem") class="active" #end><a href="/userFeedbackApp/getUserFeedBackList.do">用户反馈(APP)</a><li>
		#end
		#if($authHelper.isPermitted("flower:deduction:view"))
			<li #if($pageName=="flowerDeduction") class="active" #end><a href="/customer/flowerDeductionList.do">刷花管理</a><li>
		#end
		#if($authHelper.isPermitted("customer:chatroom:forbid"))
		    <li #if($pageName=="chatRoomReport") class="active" #end><a href="/customer/chatRoomReportList">群聊举报</a><li>
		#end
		</div>
		
		<a href="#lawMeun" class="nav-header collapsed" data-toggle="collapse">制度管理</a>
		<div id="lawMeun" class='nav nav-list collapse
         #if($pageName=="oper" || $pageName=="recommand" || $pageName=="manual")in#end '>
		#if($authHelper.isPermitted("law:oper:view"))
			<li #if($pageName=="oper") class="active" #end><a href="/law/list?type=oper">运营须知</a><li>
		#end
		#if($authHelper.isPermitted("law:recommand:view"))
			<li #if($pageName=="recommand") class="active" #end><a href="/law/list?type=recommand">推广须知</a><li>
		#end
		#if($authHelper.isPermitted("law:manual:view"))
			<li #if($pageName=="manual") class="active" #end><a href="/law/list?type=manual">管理手册</a><li>
		#end
		</div>
		
		<a href="#systemMeun" class="nav-header collapsed" data-toggle="collapse">系统管理</a>
		<div id="systemMeun" class='nav nav-list collapse
		     #if($pageName=="role" || $pageName=="sysLog" || $pageName=="logout")in#end '>
		#if($authHelper.isPermitted("sys:role:view"))
		<li #if($pageName=="role")class="active"#end><a href="/role">角色管理</a></li>
		#end
		#if($authHelper.isPermitted("sys:log:view"))
		<li #if($pageName=="sysLog")class="active"#end><a href="/sys/sysLog">操作日志</a></li>
		#end
		<li #if($pageName=="logout")class="active"#end><a href="/logout">退出</a></li>
		</div>
		
	</ul>
</div>