#set($menu = 4)
#parse("$fn.admin()/include/global_header.vm")
<div class="page-title">
    <div class="left">
        <a href="javascript:add();form[0].userId.readOnly = false;" class="btn btn-primary">添加管理员</a>
    </div>
</div>
<div class="page-main">
    <div class="list-table">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th>登录账号</th>
                <th>真实姓名</th>
                <th>最后登录时间</th>
                <th>注册时间</th>
                <th>操作人</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
            #foreach($one in $list)
                <tr #if($velocityCount % 2 == 0)class="active"#end>
                    <td>$!{one.userId}</td>
                    <td>$!{one.userName}</td>
                    <td>$!{one.lastLoginTime.substring(0,19)}</td>
                    <td>$!{one.createTime.substring(0,19)}</td>
                    <td>$!{one.updateUserId}</td>
                    <td>$!{one.updateTime.substring(5, 16)}</td>
                    <td class="i-operate">
                        <a href='javascript:edit(${one.toJson()});form[0].userId.readOnly = true;'>修改</a>
                        <a href="remove?userId=${one.userId}" onclick="return confirm('确定要删除吗？')">删除</a>
                    </td>
                </tr>
            #end
        </table>
    </div>
</div>

<div id="dialog">
    <form id="dialogForm">
        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="5" class="tab01">
            <tr>
                <td>登录账号</td>
                <td><input type="text" name="userId" size="20"/></td>
            </tr>
            <tr>
                <td>登录密码</td>
                <td><input type="password" name="passwd" size="20"/></td>
            </tr>
            <tr>
                <td>确认密码</td>
                <td><input type="password" name="passwdConfirm" size="20"/></td>
            </tr>
            <tr>
                <td>真实姓名</td>
                <td><input type="text" name="userName" size="20"/></td>
            </tr>
        </table>
    </form>
</div>

<script>
    var dialog_height = 300;
</script>
#parse("$fn.admin()/include/global_dialog.vm")
#parse("$fn.admin()/include/global_footer.vm")
