<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>登录 - 渠道管理系统</title>
    <meta http-equiv="content-Type" content="text/html;charset=utf-8"/>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="layout_header">
    <div class="header">
        <div class="h_logo">渠道管理系统</div>
        <div class="clear"></div>
    </div>
</div>
<div class="panel" style="margin: 80px auto; width: 480px;">
    <form name="loginForm" class="form" action="https://reg.163.com/logins.jsp" method="post" target="_self">
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td align="right" width="40%">登录账号：</td>
                <td align="left" width="60%">
                    <input type="text" name="username" id="loginUsername" class="input" width="200"/>
                    <span id="userIdMsg" style="display: none"><i class="icon16 icon16-error"></i> 请输入账号</span>
                </td>
            </tr>
            <tr>
                <td align="right"><p>登录密码：</p></td>
                <td align="left">
                    <input type="password" name="password" id="loginPassword" class="input"/>
                    <span id="passwdMsg" style="display: none"><i class="icon16 icon16-error"></i> 请输入密码</span>
                </td>
                <input type="hidden" name="url" class="js-loginUrl" value="http://channel.bobo.163.com/"/>
	            <input type="hidden" value="bobo" name="product"/>
	            <input type="hidden" value="bobo.com,163.com" name="domains"/>
	            <input type="hidden" name="type" value="1"/>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="button" class="btn btn-primary btn-large" onclick="login()" value=" 登 录 ">
                    <input type="reset" class="btn  btn-large" value=" 重 置 "/>
                </td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        $("#userId").focus();

        $("#userId").on('keyup', function () {
            if ($(this).val() == '') {
                $("#userIdMsg").show();
            } else {
                $("#userIdMsg").hide();
            }
        });
        $("#passwd").on('keyup', function () {
            if ($(this).val() == '') {
                $("#passwdMsg").show();
            } else {
                $("#passwdMsg").hide();
            }
        });
    });

    function login() {
        var form = document.loginForm;
        if (form.loginUsername.value == "") {
            $("#userIdMsg").show();
            return;
        } else if (form.loginPassword.value == "") {
            $("#passwdMsg").show();
            return;
        } else {
            form.submit();
        }
    }
</script>
</body>
</html>